In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#ðŸ“Œ ExtracciÃ³n

In [21]:
df_data = pd.read_json("https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json")

In [22]:
df_data.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [23]:
df_data["customer"][1]

{'gender': 'Male',
 'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 9}

#ðŸ”§ TransformaciÃ³n

In [25]:
df_data = pd.concat([df_data.drop('customer', axis=1), pd.json_normalize(df_data["customer"])], axis=1)
df_data = pd.concat([df_data.drop('internet', axis=1), pd.json_normalize(df_data["internet"])], axis=1)
df_data = pd.concat([df_data.drop('account', axis=1), pd.json_normalize(df_data["account"])], axis=1)
df_data = pd.concat([df_data.drop('phone', axis=1), pd.json_normalize(df_data["phone"])], axis=1)

In [26]:
df_data.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,PhoneService,MultipleLines
0,0002-ORFBO,No,Female,0,Yes,Yes,9,DSL,No,Yes,...,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3,Yes,No
1,0003-MKNFE,No,Male,0,No,No,9,DSL,No,No,...,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4,Yes,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,4,Fiber optic,No,No,...,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,Yes,No
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Fiber optic,No,Yes,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,Yes,No
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Fiber optic,No,No,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4,Yes,No

In [32]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   InternetService   7267 non-null   object
 8   OnlineSecurity    7267 non-null   object
 9   OnlineBackup      7267 non-null   object
 10  DeviceProtection  7267 non-null   object
 11  TechSupport       7267 non-null   object
 12  StreamingTV       7267 non-null   object
 13  StreamingMovies   7267 non-null   object
 14  Contract          7267 non-null   object
 15  PaperlessBilling  7267 non-null   object
 16  PaymentMethod     7267 non-null   object
 17  Charges.Monthly   7267 non-null   float64
 18  Charges.Total     7267 non-null   float64
 19  PhoneService      7267 non-null   object
 20  MultipleLines     7267 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [30]:
df_data['Charges.Total'] = df_data['Charges.Total'].apply(lambda x: x.replace(" ", "0"))

In [31]:
df_data['Charges.Total'] = df_data['Charges.Total'].astype(np.float64)

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final