In [2]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import json_normalize
import warnings

# Configuraciones basicas
warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-whitegrid')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

COLORS = {'No': '#2ecc71', 'Yes': '#e74c3c'}
PALETTE = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c']

#ðŸ“Œ ExtracciÃ³n

In [3]:
df_raw = pd.read_json("https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json")

In [4]:
df_raw.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [5]:
df_raw["customer"][1]

{'gender': 'Male',
 'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 9}

#ðŸ”§ TransformaciÃ³n

In [6]:
df_data = json_normalize(df_raw.to_dict(orient="records"), sep="_")

In [7]:
df_data.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,internet_OnlineSecurity,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4

In [32]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   InternetService   7267 non-null   object
 8   OnlineSecurity    7267 non-null   object
 9   OnlineBackup      7267 non-null   object
 10  DeviceProtection  7267 non-null   object
 11  TechSupport       7267 non-null   object
 12  StreamingTV       7267 non-null   object
 13  StreamingMovies   7267 non-null   object
 14  Contract          7267 non-null   object
 15  PaperlessBilling  7267 non-null   object
 16  PaymentMethod     7267 non-null   object
 17  Charges.Monthly   7267 non-null   float64
 18  Charges.Total     7267 non-null   float64
 19  PhoneService      7267 non-null   object
 20  MultipleLines     7267 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [8]:
print(f" Dataset cargado exitosamente")
print(f"   Registros: {df_raw.shape[0]:,}")
print(f"   Columnas: {df_raw.shape[1]}")

 Dataset cargado exitosamente
   Registros: 7,267
   Columnas: 6

In [11]:
## 2.1 Conocer el Conjunto de Datos
# InformaciÃ³n general del dataset
print(" INFORMACIÃ“N GENERAL DEL DATASET")
print("=" * 50)
df_data.info()

 INFORMACIÃ“N GENERAL DEL DATASET
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [12]:
# Renombrar columnas para mayor claridad
column_mapping = {
    'customerID': 'ID_Cliente',
    'Churn': 'Churn',
    'customer.gender': 'Genero',
    'customer.SeniorCitizen': 'Adulto_Mayor',
    'customer.Partner': 'Tiene_Pareja',
    'customer.Dependents': 'Tiene_Dependientes',
    'customer.tenure': 'Meses_Contrato',
    'phone.PhoneService': 'Servicio_Telefonico',
    'phone.MultipleLines': 'Multiples_Lineas',
    'internet.InternetService': 'Servicio_Internet',
    'internet.OnlineSecurity': 'Seguridad_Online',
    'internet.OnlineBackup': 'Respaldo_Online',
    'internet.DeviceProtection': 'Proteccion_Dispositivo',
    'internet.TechSupport': 'Soporte_Tecnico',
    'internet.StreamingTV': 'TV_Streaming',
    'internet.StreamingMovies': 'Peliculas_Streaming',
    'account.Contract': 'Tipo_Contrato',
    'account.PaperlessBilling': 'Factura_Digital',
    'account.PaymentMethod': 'Metodo_Pago',
    'account.Charges.Monthly': 'Cargo_Mensual',
    'account.Charges.Total': 'Cargo_Total'
}

df = df_data.rename(columns=column_mapping).copy()
print("Columnas renombradas correctamente")
print("\nNuevas columnas:")
for col in df.columns:
    print(f"   â€¢ {col}")

Columnas renombradas correctamente

Nuevas columnas:
   â€¢ ID_Cliente
   â€¢ Churn
   â€¢ customer_gender
   â€¢ customer_SeniorCitizen
   â€¢ customer_Partner
   â€¢ customer_Dependents
   â€¢ customer_tenure
   â€¢ phone_PhoneService
   â€¢ phone_MultipleLines
   â€¢ internet_InternetService
   â€¢ internet_OnlineSecurity
   â€¢ internet_OnlineBackup
   â€¢ internet_DeviceProtection
   â€¢ internet_TechSupport
   â€¢ internet_StreamingTV
   â€¢ internet_StreamingMovies
   â€¢ account_Contract
   â€¢ account_PaperlessBilling
   â€¢ account_PaymentMethod
   â€¢ account_Charges_Monthly
   â€¢ account_Charges_Total

In [14]:
## 2.2 comprobacion de inconsistencias 
# Verificar valores Ãºnicos en cada columna
print("VALORES ÃšNICOS POR COLUMNA")
print("=" * 50)
for col in df.columns:
    n_unique = df[col].nunique()
    print(f"{col}: {n_unique} valores Ãºnicos")
    if n_unique <= 10:
        print(f"   â†’ {df[col].unique().tolist()}")

VALORES ÃšNICOS POR COLUMNA
==================================================
ID_Cliente: 7267 valores Ãºnicos
Churn: 3 valores Ãºnicos
   â†’ ['No', 'Yes', '']
customer_gender: 2 valores Ãºnicos
   â†’ ['Female', 'Male']
customer_SeniorCitizen: 2 valores Ãºnicos
   â†’ [0, 1]
customer_Partner: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
customer_Dependents: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
customer_tenure: 73 valores Ãºnicos
phone_PhoneService: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
phone_MultipleLines: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No phone service']
internet_InternetService: 3 valores Ãºnicos
   â†’ ['DSL', 'Fiber optic', 'No']
internet_OnlineSecurity: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
internet_OnlineBackup: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
internet_DeviceProtection: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
internet_TechSupport: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
internet_StreamingTV: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
internet_StreamingMovies: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
account_Contract: 3 valores Ãºnicos
   â†’ ['One year', 'Month-to-month', 'Two year']
account_PaperlessBilling: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
account_PaymentMethod: 4 valores Ãºnicos
   â†’ ['Mailed check', 'Electronic check', 'Credit card (automatic)', 'Bank transfer (automatic)']
account_Charges_Monthly: 1585 valores Ãºnicos
account_Charges_Total: 6531 valores Ãºnicos

In [15]:
# Verificar duplicados
duplicados = df['ID_Cliente'].duplicated().sum()
print(f"\nDUPLICADOS")
print(f"   Registros duplicados en ID_Cliente: {duplicados}")

# Verificar valores nulos
print(f"\nVALORES NULOS")
nulos = df.isnull().sum()
print(nulos[nulos > 0] if nulos.sum() > 0 else "   No hay valores nulos")

# Verificar valores vacÃ­os en columnas de texto
print(f"\nVALORES VACÃOS O EN BLANCO")
for col in df.select_dtypes(include=['object']).columns:
    vacios = (df[col] == '').sum() + (df[col] == ' ').sum()
    if vacios > 0:
        print(f"   {col}: {vacios} valores vacÃ­os")

DUPLICADOS
   Registros duplicados en ID_Cliente: 0

VALORES NULOS
   No hay valores nulos

VALORES VACÃOS O EN BLANCO
   Churn: 224 valores vacÃ­os
   account_Charges_Total: 11 valores vacÃ­os

In [16]:
# AnÃ¡lisis detallado de la columna Churn
print("\nDISTRIBUCIÃ“N DE CHURN (antes de limpieza)")
print(df['Churn'].value_counts(dropna=False))

DISTRIBUCIÃ“N DE CHURN (antes de limpieza)
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final