In [55]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas import json_normalize
import warnings

# Configuraciones basicas
warnings.filterwarnings('ignore')
plt.style.use('seaborn-v0_8-whitegrid')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)

COLORS = {'No': '#2ecc71', 'Yes': '#e74c3c'}
PALETTE = ['#3498db', '#e74c3c', '#2ecc71', '#f39c12', '#9b59b6', '#1abc9c']

#ðŸ“Œ ExtracciÃ³n

In [56]:
df_raw = pd.read_json("https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json")

In [57]:
df_raw.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [58]:
df_raw["customer"][1]

{'gender': 'Male',
 'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 9}

#ðŸ”§ TransformaciÃ³n

In [59]:
df_raw = json_normalize(df_raw.to_dict(orient="records"), sep="_")

In [60]:
df_raw.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,internet_OnlineSecurity,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4

In [61]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [62]:
print(f" Dataset cargado exitosamente")
print(f"   Registros: {df_raw.shape[0]:,}")
print(f"   Columnas: {df_raw.shape[1]}")

 Dataset cargado exitosamente
   Registros: 7,267
   Columnas: 21

In [63]:
## 2.1 Conocer el Conjunto de Datos
# InformaciÃ³n general del dataset
print(" INFORMACIÃ“N GENERAL DEL DATASET")
print("=" * 50)
df_raw.info()

 INFORMACIÃ“N GENERAL DEL DATASET
==================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [64]:
# Renombrar columnas para mayor claridad
column_mapping = {
    'customerID': 'ID_Cliente',
    'Churn': 'Churn',
    'customer_gender': 'Genero',
    'customer_SeniorCitizen': 'Adulto_Mayor',
    'customer_Partner': 'Tiene_Pareja',
    'customer_Dependents': 'Tiene_Dependientes',
    'customer_tenure': 'Meses_Contrato',
    'phone_PhoneService': 'Servicio_Telefonico',
    'phone_MultipleLines': 'Multiples_Lineas',
    'internet_InternetService': 'Servicio_Internet',
    'internet_OnlineSecurity': 'Seguridad_Online',
    'internet_OnlineBackup': 'Respaldo_Online',
    'internet_DeviceProtection': 'Proteccion_Dispositivo',
    'internet_TechSupport': 'Soporte_Tecnico',
    'internet_StreamingTV': 'TV_Streaming',
    'internet_StreamingMovies': 'Peliculas_Streaming',
    'account_Contract': 'Tipo_Contrato',
    'account_PaperlessBilling': 'Factura_Digital',
    'account_PaymentMethod': 'Metodo_Pago',
    'account_Charges_Monthly': 'Cargo_Mensual',
    'account_Charges_Total': 'Cargo_Total'
}

df = df_raw.rename(columns=column_mapping).copy()
print("Columnas renombradas correctamente")
print("\nNuevas columnas:")
for col in df.columns:
    print(f"   â€¢ {col}")

Columnas renombradas correctamente

Nuevas columnas:
   â€¢ ID_Cliente
   â€¢ Churn
   â€¢ Genero
   â€¢ Adulto_Mayor
   â€¢ Tiene_Pareja
   â€¢ Tiene_Dependientes
   â€¢ Meses_Contrato
   â€¢ Servicio_Telefonico
   â€¢ Multiples_Lineas
   â€¢ Servicio_Internet
   â€¢ Seguridad_Online
   â€¢ Respaldo_Online
   â€¢ Proteccion_Dispositivo
   â€¢ Soporte_Tecnico
   â€¢ TV_Streaming
   â€¢ Peliculas_Streaming
   â€¢ Tipo_Contrato
   â€¢ Factura_Digital
   â€¢ Metodo_Pago
   â€¢ Cargo_Mensual
   â€¢ Cargo_Total

In [65]:
## 2.2 comprobacion de inconsistencias 
# Verificar valores Ãºnicos en cada columna
print("VALORES ÃšNICOS POR COLUMNA")
print("=" * 50)
for col in df.columns:
    n_unique = df[col].nunique()
    print(f"{col}: {n_unique} valores Ãºnicos")
    if n_unique <= 10:
        print(f"   â†’ {df[col].unique().tolist()}")

VALORES ÃšNICOS POR COLUMNA
==================================================
ID_Cliente: 7267 valores Ãºnicos
Churn: 3 valores Ãºnicos
   â†’ ['No', 'Yes', '']
Genero: 2 valores Ãºnicos
   â†’ ['Female', 'Male']
Adulto_Mayor: 2 valores Ãºnicos
   â†’ [0, 1]
Tiene_Pareja: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
Tiene_Dependientes: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
Meses_Contrato: 73 valores Ãºnicos
Servicio_Telefonico: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
Multiples_Lineas: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No phone service']
Servicio_Internet: 3 valores Ãºnicos
   â†’ ['DSL', 'Fiber optic', 'No']
Seguridad_Online: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
Respaldo_Online: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
Proteccion_Dispositivo: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
Soporte_Tecnico: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
TV_Streaming: 3 valores Ãºnicos
   â†’ ['Yes', 'No', 'No internet service']
Peliculas_Streaming: 3 valores Ãºnicos
   â†’ ['No', 'Yes', 'No internet service']
Tipo_Contrato: 3 valores Ãºnicos
   â†’ ['One year', 'Month-to-month', 'Two year']
Factura_Digital: 2 valores Ãºnicos
   â†’ ['Yes', 'No']
Metodo_Pago: 4 valores Ãºnicos
   â†’ ['Mailed check', 'Electronic check', 'Credit card (automatic)', 'Bank transfer (automatic)']
Cargo_Mensual: 1585 valores Ãºnicos
Cargo_Total: 6531 valores Ãºnicos

In [66]:
# Verificar duplicados
duplicados = df['ID_Cliente'].duplicated().sum()
print(f"\nDUPLICADOS")
print(f"   Registros duplicados en ID_Cliente: {duplicados}")

# Verificar valores nulos
print(f"\nVALORES NULOS")
nulos = df.isnull().sum()
print(nulos[nulos > 0] if nulos.sum() > 0 else "   No hay valores nulos")

# Verificar valores vacÃ­os en columnas de texto
print(f"\nVALORES VACÃOS O EN BLANCO")
for col in df.select_dtypes(include=['object']).columns:
    vacios = (df[col] == '').sum() + (df[col] == ' ').sum()
    if vacios > 0:
        print(f"   {col}: {vacios} valores vacÃ­os")

DUPLICADOS
   Registros duplicados en ID_Cliente: 0

VALORES NULOS
   No hay valores nulos

VALORES VACÃOS O EN BLANCO
   Churn: 224 valores vacÃ­os
   Cargo_Total: 11 valores vacÃ­os

In [67]:
# AnÃ¡lisis detallado de la columna Churn
print("\nDISTRIBUCIÃ“N DE CHURN (antes de limpieza)")
print(df['Churn'].value_counts(dropna=False))

DISTRIBUCIÃ“N DE CHURN (antes de limpieza)
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [68]:
# Verificar tipo de datos de Cargo_Total
print(f"\n ANÃLISIS DE CARGO_TOTAL")
print(f"   Tipo de dato actual: {df['Cargo_Total'].dtype}")

# Intentar convertir a numÃ©rico para detectar problemas
df['Cargo_Total_num'] = pd.to_numeric(df['Cargo_Total'], errors='coerce')
problemas = df['Cargo_Total_num'].isna().sum()
print(f"   Valores no numÃ©ricos: {problemas}")

if problemas > 0:
    print(f"   Valores problemÃ¡ticos: {df[df['Cargo_Total_num'].isna()]['Cargo_Total'].unique()}")

# Eliminar columna temporal
df.drop('Cargo_Total_num', axis=1, inplace=True)

 ANÃLISIS DE CARGO_TOTAL
   Tipo de dato actual: object
   Valores no numÃ©ricos: 11
   Valores problemÃ¡ticos: [' ']

In [69]:
#2.3 manejo de incosnsistencias
print("LIMPIEZA DE DATOS")
print("=" * 50)

registros_iniciales = len(df)

# 1. Eliminar registros con Churn vacÃ­o
df = df[df['Churn'] != '']
print(f"\n1. Registros con Churn vacÃ­o eliminados: {registros_iniciales - len(df)}")

# 2. Convertir Cargo_Total a numÃ©rico, reemplazando valores invÃ¡lidos con NaN
df['Cargo_Total'] = pd.to_numeric(df['Cargo_Total'].str.strip(), errors='coerce')
print(f"2. Columna Cargo_Total convertida a numÃ©rico")

# 3. Para los registros con Cargo_Total NaN, calcular basado en tenure y cargo mensual
# (Solo si tenure > 0, si no, usar el cargo mensual)
mask_nan = df['Cargo_Total'].isna()
df.loc[mask_nan, 'Cargo_Total'] = df.loc[mask_nan, 'Cargo_Mensual'] * df.loc[mask_nan, 'Meses_Contrato']
# Para los que tienen tenure 0, usar el cargo mensual como aproximaciÃ³n
mask_still_nan = df['Cargo_Total'].isna() | (df['Cargo_Total'] == 0)
df.loc[mask_still_nan & (df['Meses_Contrato'] == 0), 'Cargo_Total'] = df.loc[mask_still_nan & (df['Meses_Contrato'] == 0), 'Cargo_Mensual']

print(f"3. Valores faltantes en Cargo_Total imputados")

# 4. Convertir Adulto_Mayor a valores descriptivos
df['Adulto_Mayor'] = df['Adulto_Mayor'].map({0: 'No', 1: 'SÃ­'})
print(f"4. Columna Adulto_Mayor convertida a texto descriptivo")

registros_finales = len(df)
print(f"\nResumen:")
print(f"   Registros iniciales: {registros_iniciales:,}")
print(f"   Registros finales: {registros_finales:,}")
print(f"   Registros eliminados: {registros_iniciales - registros_finales:,}")

LIMPIEZA DE DATOS
==================================================

1. Registros con Churn vacÃ­o eliminados: 224
2. Columna Cargo_Total convertida a numÃ©rico
3. Valores faltantes en Cargo_Total imputados
4. Columna Adulto_Mayor convertida a texto descriptivo

Resumen:
   Registros iniciales: 7,267
   Registros finales: 7,043
   Registros eliminados: 224

In [70]:
#2.4 CreaciÃ³n de columna cuentas diarias
# Crear columna de cargo diario (asumiendo 30 dÃ­as por mes)
df['Cargo_Diario'] = df['Cargo_Mensual'] / 30

print("Columna 'Cargo_Diario' creada")
print(f"\nEstadÃ­sticas del Cargo Diario:")
print(df['Cargo_Diario'].describe())

Columna 'Cargo_Diario' creada

EstadÃ­sticas del Cargo Diario:
count   7043.00
mean       2.16
std        1.00
min        0.61
25%        1.18
50%        2.34
75%        2.99
max        3.96
Name: Cargo_Diario, dtype: float64

In [75]:
# 2.5 EstandarizaciÃ³n y transformaciÃ³n de datos
# Crear versiones binarias de las variables categÃ³ricas para anÃ¡lisis
df_binary = df.copy()

# Variables binarias (Yes/No)
binary_cols = ['Churn', 'Tiene_Pareja', 'Tiene_Dependientes', 'Servicio_Telefonico', 
               'Factura_Digital']

for col in binary_cols:
    df_binary[f'{col}_Bin'] = df_binary[col].map({'Yes': 1, 'No': 0, 'SÃ­': 1})

# Adulto Mayor
df_binary['Adulto_Mayor_Bin'] = df_binary['Adulto_Mayor'].map({'SÃ­': 1, 'No': 0})

# Servicios adicionales (Yes=1, No=0, No internet/phone service=0)
service_cols = ['Multiples_Lineas', 'Seguridad_Online', 'Respaldo_Online', 
                'Proteccion_Dispositivo', 'Soporte_Tecnico', 'TV_Streaming', 
                'Peliculas_Streaming']

for col in service_cols:
    df_binary[f'{col}_Bin'] = df_binary[col].apply(
        lambda x: 1 if x == 'Yes' else 0
    )

# Crear variable de cantidad de servicios adicionales contratados
service_bin_cols = [f'{col}_Bin' for col in service_cols]
df['Cantidad_Servicios'] = df_binary[service_bin_cols].sum(axis=1)
df_binary['Cantidad_Servicios'] = df['Cantidad_Servicios']

print("Variables binarias creadas")
print(f"\nDistribuciÃ³n de cantidad de servicios adicionales:")
print(df['Cantidad_Servicios'].value_counts().sort_index())

Variables binarias creadas

DistribuciÃ³n de cantidad de servicios adicionales:
Cantidad_Servicios
0    1667
1    1158
2     957
3     978
4     933
5     722
6     420
7     208
Name: count, dtype: int64

In [72]:
# Traducir valores de columnas categÃ³ricas al espaÃ±ol para mejor visualizaciÃ³n
traducciones = {
    'Genero': {'Male': 'Masculino', 'Female': 'Femenino'},
    'Tipo_Contrato': {'Month-to-month': 'Mes a mes', 'One year': 'Un aÃ±o', 'Two year': 'Dos aÃ±os'},
    'Metodo_Pago': {
        'Electronic check': 'Cheque electrÃ³nico',
        'Mailed check': 'Cheque por correo',
        'Bank transfer (automatic)': 'Transferencia bancaria',
        'Credit card (automatic)': 'Tarjeta de crÃ©dito'
    },
    'Servicio_Internet': {'DSL': 'DSL', 'Fiber optic': 'Fibra Ã³ptica', 'No': 'Sin internet'},
    'Churn': {'Yes': 'SÃ­', 'No': 'No'}
}


df_viz = df.copy()
for col, mapping in traducciones.items():
    df_viz[col] = df_viz[col].map(mapping).fillna(df_viz[col])

print("Datos traducidos para visualizaciÃ³n")

Datos traducidos para visualizaciÃ³n

In [73]:
# Vista final del dataset limpio
print("\nDATASET FINAL")
print("=" * 50)
print(f"Dimensiones: {df.shape[0]:,} filas x {df.shape[1]} columnas")
print("\nTipos de datos:")
print(df.dtypes)

DATASET FINAL
==================================================
Dimensiones: 7,043 filas x 23 columnas

Tipos de datos:
ID_Cliente                 object
Churn                      object
Genero                     object
Adulto_Mayor               object
Tiene_Pareja               object
Tiene_Dependientes         object
Meses_Contrato              int64
Servicio_Telefonico        object
Multiples_Lineas           object
Servicio_Internet          object
Seguridad_Online           object
Respaldo_Online            object
Proteccion_Dispositivo     object
Soporte_Tecnico            object
TV_Streaming               object
Peliculas_Streaming        object
Tipo_Contrato              object
Factura_Digital            object
Metodo_Pago                object
Cargo_Mensual             float64
Cargo_Total               float64
Cargo_Diario              float64
Cantidad_Servicios          int64
dtype: object

In [74]:
df.head(10)

,ID_Cliente,Churn,Genero,Adulto_Mayor,Tiene_Pareja,Tiene_Dependientes,Meses_Contrato,Servicio_Telefonico,Multiples_Lineas,Servicio_Internet,Seguridad_Online,Respaldo_Online,Proteccion_Dispositivo,Soporte_Tecnico,TV_Streaming,Peliculas_Streaming,Tipo_Contrato,Factura_Digital,Metodo_Pago,Cargo_Mensual,Cargo_Total,Cargo_Diario,Cantidad_Servicios
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,No,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.19,3
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,No,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,2.00,2
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,No,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.46,1
3,0011-IGKFF,Yes,Male,SÃ­,Yes,No,13,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.27,4
4,0013-EXCHZ,Yes,Female,SÃ­,Yes,No,3,Yes,No,Fiber optic,No,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.80,2
5,0013-MHZWF,No,Female,No,No,Yes,9,Yes,No,DSL,No,No,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45,2.31,3
6,0013-SMEOE,No,Female,SÃ­,Yes,No,71,Yes,No,Fiber optic,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25,3.66,6
7,0014-BMAQU,No,Male,No,Yes,No,63,Yes,Yes,Fiber optic,Yes,No,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.80,2.82,3
8,0015-UOCOJ,No,Female,SÃ­,No,No,7,Yes,No,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35,1.61,1
9,0016-QLJIS,No,Female,No,Yes,Yes,65,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.90,3.02,7

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final